@import "index";

.container.content {
  min-height: calc(100% - 323px);
  padding-top: 20px;
  padding-bottom: 20px;

  h1 {
    margin-bottom: 3rem;
  }

  p {
    margin: 2rem 0;
  }
  .back-btn {
    @include rect-btn;
    @include white-btn;
    float: right;
  }
}
