@import "theme";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 87.5%; /* font-size 1em = 14px on default browser settings */
  height: 100vh;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
}

#root {
  height: 100vh;
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

h1 {
  font-size: 2.5rem;

  &::after {
    content: "";
    display: block;
    position: relative;
    left: 0px;
    top: 15px;
    height: $h1-line-height;
    width: $h1-line-width;
    background-color: $secondary-text;
  }
}

h2 {
  font-size: 1.8rem;
  margin: 0.6rem 0;
}

h3 {
  font-size: 1.2rem;
  margin: 0.8rem 0;
}

p {
  margin: 0.7rem 0;
  font-size: 1.1rem;
}

img {
  max-width: 100%;
  display: block;
}

nav {
  display: inline-block;

  li {
    display: inline;
  }
}

.container {
  max-width: 980px;
  min-width: 690px;
  padding: 0 30px;
  margin: auto;
}

@media only screen and (max-width: 690px) {
  html {
    font-size: 100%;
  }

  .container {
    min-width: 350px;
    padding: 0 20px;
  }
}
