.container.welcome {
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
  padding-bottom: 1rem;
  height: 450px;
}

#narrow-box {
  height: 100%;
  width: 30%;
  min-width: min-content;
  background-color: var(--header-background);
  padding: 30px;
  display: flex;
  flex-direction: column;
  /* align-content: space-between; */
  justify-content: space-between;
}

#narrow-box h1 {
  color: var(--main-text);
  margin-bottom: 30px;
}

#narrow-box h1::after {
  background-color: var(--main-text);
}

#narrow-box p {
  color: var(--main-text);
}

#narrow-box button {
  color: var(--main-text);
  background-color: var(--button-blue);
  border-color: var(--main-text);
  align-self: flex-end;
  margin-top: 2rem;
}
#narrow-box button:hover {
  background-color: white;
  color: var(--button-blue);
  cursor: pointer;
}

#wide-box {
  height: 100%;
  width: 65%;
  min-width: auto;
  background-color: var(--color-gray);
  overflow-y: auto;
  overflow-x: hidden;
}

#wide-box img {
  min-height: 150px;
  min-width: 540px;
}

#wide-box .content {
  padding: 10px 40px;
  /* overflow: hidden; */
}
#wide-box h2 {
  color: var(--secondary-text);
}

#wide-box p {
  color: var(--secondary-text);
}

@media only screen and (max-width: 690px) {
  .container.welcome {
    display: block;
    padding-top: 0;
    padding-bottom: 1rem;
    height: auto;
  }

  .container.welcome #narrow-box {
    height: auto;
    width: 100%;
    min-width: min-content;
    display: flex;
    flex-direction: column;
    /* align-content: space-between; */
    justify-content: space-between;
  }
  .container.welcome #wide-box {
    width: auto;
    height: auto;
    margin-top: 1rem;
  }
}
